.bg-animation {
    background: linear-gradient(135deg, #ff6f61, #3d8ee7, #ff6f61, #3d8ee7);
    background-size: 400% 400%;
    animation: backgroundAnimation 10s ease infinite;
  }

  @keyframes backgroundAnimation {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  
  