.bg-animation {
    background: linear-gradient(79deg, #7439db, #C66FBC 48%, #F7944D);
    background-size: 400% 400%;
    animation: backgroundAnimation 10s ease infinite;
  }

  @keyframes backgroundAnimation {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  
  